<div class="container mt-5 pt-5">
  <app-cockpit
    (sCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>

  <hr />

  <app-server-element
    *ngFor="let serverElements of serverElements"
    [srvElements]="serverElements"
  >
    <p>
      <strong *ngIf="serverElements.type === 'server'" style="color: red;">{{
        serverElements.content
      }}</strong>
      <em *ngIf="serverElements.type === 'blueprint'" style="color: blue;">{{
        serverElements.content
      }}</em>
    </p></app-server-element
  >
</div>
