<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="mb-4 text-primary font-weight-bold">
        Add new Serves to Blueprints!
      </h3>
      <label class="font-weight-bold">Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName" />
      <label class="font-weight-bold">Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent" />
      <br />

      <button class="btn btn-primary mr-3" (click)="onAddServer()">
        Add Server
      </button>

      <button class="btn btn-primary" (click)="onAddBlueprint()">
        Add Server Blueprint
      </button>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12">
      <div class="card mt-3" *ngFor="let element of serverElements">
        <div class="card-header">
          {{ element.name }}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              <strong *ngIf="element.type === 'server'" style="color: red;">{{
                element.content
              }}</strong>
              <em *ngIf="element.type === 'blueprint'" style="color: blue;">{{
                element.content
              }}</em>
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
